.vs
.vscode


x64

//ios

.DS_Store

//CMAKE
cmake-build-*/

//CLion
.idea/

Backend/Backend/bin
Backend/Backend/obj
Backend/.sonarqube
Backend/BackendTest/bin
Backend/BackendTest/obj
Backend/TestResults
tempkey.jwk
Frontend/hagyma/.openapi-generator/FILES
Frontend/hagyma/.openapi-generator/VERSION
/CAFFParser/out/build/x64-Debug
/CAFFParser/CMakeSettings.json
/Backend/Backend/CAFFParser_lib.dll
/Backend/Backend/CAFFParser_lib.ilk
/Backend/Backend/CAFFParser_lib.pdb
