.vs
.vscode


x64

//ios

.DS_Store

//CMAKE
cmake-build-*/

//CLion
.idea/

Backend/Backend/bin
Backend/Backend/obj
tempkey.jwk
Frontend/hagyma/.openapi-generator/FILES
Frontend/hagyma/.openapi-generator/VERSION
