<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- the targets to write to -->
  <targets>

    <target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />

    <target name="itsec" xsi:type="Database"
       dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
       connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=itsec;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False">
      <commandtext>INSERT INTO Logs(CreationDate,Level,Message) VALUES(@date, @level, @message)</commandtext>
      <parameter name="@date" layout="${date}" />
      <parameter name="@level" layout="${level}"/>
      <parameter name="@message" layout="${message}"  />
    </target>

  </targets>

  <!-- rules to map from logger name to target -->
  <rules>

    <!--<logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info"  writeTo="lifetimeConsole"/>-->
    <!--<logger name="*" minlevel="Information" writeTo="lifetimeConsole" />-->
    <logger name="*" minlevel="Trace" writeTo="itsec" />
  </rules>
</nlog>